@model IEnumerable<BES.Models.Data.Tool5Detail>

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>*@

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th style="width:17%">
                @Html.DisplayNameFor(model => model.ClassID)
            </th>
            <th style="width:17%">
                @Html.DisplayNameFor(model => model.NewEnrolltGirls)
            </th>
            <th style="width:17%">
                @Html.DisplayNameFor(model => model.NewEnrollBoys)
            </th>
            <th style="width:17%">
                @Html.DisplayNameFor(model => model.AttendRegGirls)
            </th>
            <th style="width:17%">

                @Html.DisplayNameFor(model => model.AttendRegBoys)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewEnrolltGirls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewEnrollBoys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendRegGirls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendRegBoys)
            </td>
         
            <td>
                @{
                    if (ViewBag.View != 1)
                    {
                        <a asp-controller="Tool5Detail" asp-action="edit" asp-route-id=@item.SchoolID asp-route-q=@item.Quarter class="btn btn-primary search">Edit</a> @*of @subtotal*@

                    }
                }

            </td>
        </tr>
}
    </tbody>
</table>
