@model IEnumerable<BES.Models.Data.Component>


<link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
<table id="example1" class="table table-striped dataTables-example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComponentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComponentID">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>


<script src="~/libs/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/libs/datatables/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#example1').DataTable({
          
        })
    });
</script>