@model IEnumerable<BES.Models.Reports.UserView>

@{
    ViewData["Title"] = "Index";
}

<h2>Users Account List</h2>

<p>
    @*<a asp-controller="Account" asp-action="Register">Create New</a>*@

    <a href="~/Account/Register"> Add New User</a>
</p>
<table class="table table-striped table-bordered  dataTables-example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                <a asp-action="Change" asp-route-id=@item.Id>Change Password</a>
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                @*   <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th></th>
        </tr>
    </tfoot>

</table>


@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
}

<div id="dynamicContentContainer"></div>
@section Scripts {
    <script src="~/libs/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/libs/datatables/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // $('#Region-DropdownID').val(null).change();
            // alert('JQuery Entered')
            $(document).ready(function () {
                // $('#Region-DropdownID').val(null).change();
                // alert('JQuery Entered')
                $('.dataTables-example').DataTable({
                    initComplete: function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });
                    }
                });
                //alert('Table Generated')
            });
            //alert('Table Generated')
        });

    </script>

}